
<!--
AJAX call for autocomplete 
https://app.swaggerhub.com/apis-docs/RINGGOLD-INC/RinggoldIdentifyRestApi/2.6
https://support.ringgold.com/identify-database-api-services
author: bill.haase@ringgold.com
version: 0.1.1
-->

<div class="frmSearch">
	<input type="text" id="search-box" placeholder="Country Name" />
	<div id="suggestion-box"></div>
</div>